SubMinimizerTests/Connected Services/GetResourcesServiceReference/GetResourcesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://getresrv.cloudapp.net/GetResourcesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CogsMinimizer.Shared" />
  <xs:element name="GetResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriptionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CogsMinimizer.Shared" minOccurs="0" name="GetResourcesResult" nillable="true" type="q1:ArrayOfResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>